body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 21%;
  height: 100%;
  background: #444F60;
  padding-left: 35px;
}
#logo {
  margin-top: 30px;
  width: 50%;
}
#nav-title {
  margin-right: 75px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 75px;
  padding-bottom: 15px;
  border-bottom: solid 1px
}
.nav-link:hover {
  color: #9c3;
  border-color: white;
}
#contact {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}
#email {
  color: #9c3;
}
#main-doc {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 1200px;
  top: 0px;
  padding-top: 30px;
  margin-left: 25%;
  margin-right: 0px;
  color: #444;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
}
.main-section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid 5px;
  border-color: #9c3;
}
h1 {
  font-size: 27px;
  color: #444F60;
  text-transform: uppercase;
  margin: 30px auto;
}
#nav-title {
  margin-top: 10px;
  color: #9c3;
}
#du_video {
  text-align: center;
}
p, ul, ol {
  line-height: 1.5;
}
h2 {
  margin-top: 50px;
  color: #444F60;
  font-size: 20px;
  text-transform: uppercase;
}
code {
  font-size: 15px;
  color: #1f4a00;
  background: #eee;
}
b {
  color: #9c3;
}
.twocolumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
.twocolumnpic {
  width: 300px;
  min-width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 10%;
  margin-top: 30px;
  filter: drop-shadow(4px 4px 5px #777);
}
.lidarpicsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.lidarpic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 30px;
  filter: drop-shadow(4px 4px 5px #777);
}
.lidarpicsmall {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  filter: drop-shadow(4px 4px 5px #777);
}
#lidarpic8 {
  object-position: 15% 50%;
}
.powerpicsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.powerpic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 30px;
  filter: drop-shadow(4px 4px 5px #777);
}
.powerpicsmall {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  filter: drop-shadow(4px 4px 5px #777);
}
#powerpic1 {
  object-position: 50% 15%;
}
#powerpic2 {
  object-position: 50% 95%;
}
.maintpicsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.maintpic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 30px;
  filter: drop-shadow(4px 4px 5px #777);
}
#maintpic4 {
  object-position: 0% 50%;
}
#maintpic8 {
  object-fit: contain;
}
#maintpic10 {
  object-fit: contain;
}
#manualpic3 {
  object-position: 0% 50%;
}
.fullsizepic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  margin: 50px;
}
.main-link {
  color: #444F60;
  text-decoration: underline;
}
.main-link:hover {
  color: #9c3;
}